@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@mixin displayFlex{
    display: flex;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: #1B1D20;
    overflow-x: hidden;
}
//common styles
.wrapper{
    width: 100vw;
    height: 100vh;
    h2{
        padding-top: 3rem;
        margin-bottom: 0;
    }
}
*::-webkit-scrollbar {
    display: none !important;
}

h1 {
    font-family: 'PartialSansKR-Regular';
    color: white;
    text-align: center;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 7rem;

    &:hover {
        text-shadow:0 0 7px #fff;
    }
}
h2{
    font-family: Danjo-bold-Regular;
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}   

// navbar
.navbar{
    font-family: 'PartialSansKR-Regular';
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    @include displayFlex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    z-index: 3;
    .menus{
        @include displayFlex;
        justify-content: space-between;
        width: 40%;
        margin-right: 25px;
        @media(max-width:986px){
        font-size: 14px;    
        }
        div{
            text-transform: uppercase;
            cursor: pointer;
            color: white;
        }
    }
        
}

//nav media query
@media(max-width:786px) {
    .navbar {
        .menus.hidden {
            display: none;
        }
    }

    .show {
        cursor: pointer;
        font-size: 28px;
        display: block;
        color: white;
        margin-right: 25px;

        &:hover {
            transform: scale(1.03);
            transition: scale .5s ease-in-out;
        }
    }
}

//sidebar animation
@keyframes sidebarOpen{
        from {
            transform: translateX(-2rem);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
@keyframes sidebarClose{
            0% {
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                transform: translateX(-2rem);
                opacity: 0;
            }
        }

//sidebar
.sidebar{
    position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1B1D20;
        z-index: 2;
        overflow: hidden;
        @include displayFlex;
        justify-content: center;
        color: white;
        transition: all 0.7s cubic-bezier(.15, .52, .15, 1);;
        div {
            margin-top: 8rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        
            span {
                display: block;
                text-align: center;
                font-size: 1.5rem;
                text-transform: uppercase;
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: #D6B138;
                    }
                }
            }
    }   
    .open{
        display: block;
        animation: sidebarOpen 0.7s cubic-bezier(.15, .52, .15, 1) forwards;
    }
    .closing{
        animation: sidebarClose 0.7s cubic-bezier(.15, .52, .15, 1) forwards;
    }
    .close {
        display: none;
    }

