@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@mixin displayFlex{
    display: flex;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: #1B1D20;
    overflow-x: hidden;
}

//common styles
.wrapper{
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'PartialSansKR-Regular';
    color: white;
    text-align: center;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 7rem;

    &:hover {
        text-shadow:0 0 7px #fff;
    }
}
h2{
    font-family: Danjo-bold-Regular;
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

// navbar
.navbar{
    font-family: 'PartialSansKR-Regular';
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    @include displayFlex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    z-index: 3;
    .menus{
        @include displayFlex;
        justify-content: space-between;
        width: 40%;
        margin-right: 25px;
        
        div{
            text-transform: uppercase;
            cursor: pointer;
            color: white;
        }
    }
}