 $book-width:22rem;
 $book-height:300px;
 $book-depth:40px;
 
 .book-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 90%;
    height:70%;
    perspective: 1200px;
    .book{
        position: relative;
        width:$book-depth;
        height: $book-height;
        transform-style: preserve-3d;
        background-color: pink;
        border-radius: 3px;
        border-left:1px solid #ccc;
        transform: rotateX(-10deg) rotateY(30deg) rotateZ(-10deg);
        div{
            position: absolute;
            transform-origin: left center;
            &.cover{
                transform: rotateY(90deg);
                width: $book-width;
                height: $book-height;
                background-color: pink;
                &.front{
                    left: -1px;
                }
                &.back{
                    left: 100%;
                }
                &.content{
                    padding: 1rem 2rem;
                    backface-visibility: hidden;
                    background-color: white;
                }
            }
            &.top{
                width: calc(100% - 0.1rem);
                height: calc(-10px + 22rem);
                top: 3px;
                left: 0.1rem;
                background: rgb(238, 238, 238);
                transform: rotateX(90deg) translateZ(calc(-5px + 11rem)) translateY(calc(5px - 11rem));
            }
        }
        .cover-title{
            padding-left: 10px;
            transform: rotate(90deg);
        }
        
    }
 }