.carousel{
    padding:4rem 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    div{
        color: white;
        h3{
            font-size:2rem;
        }
        img {
                width: 700px;
                height: 400px;
            }
    }
    
}