.carousel{
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .handleBtn{
        background: none;
        border: none;
        color: grey;
        cursor: pointer;
        font-size: 4.5rem;
        margin:0 4rem;
        transition: color 0.3s ease-in-out;
        &:hover{
            color: white;
        }
    }
    div{
        color: white;
        img{
            width: 700px;
            height: 400px;
        }
        h3{
            font-size:2.5rem;
            margin-bottom: 0;
            margin-top: 1rem;
        }
        p{
            font-size: 1.2rem;
            margin: 1.5rem 0;
            max-width: 700px;
        }
        .sm{
            font-size: 1rem;
            color: #FACD35;
        }
        .btn-area{
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            gap: 1rem;
            span {
                background-color: #2D2D37;
                padding: 0.4rem 0.8rem;
                border-radius: 5px;
                letter-spacing: 0.07rem;
                font-size: 15px;
                &:hover{
                    transform: scale(1.02);
                    cursor: pointer;
                }
            }

            a{
                button{
                margin-top: 1.5rem;
                min-width: 100px;
                font-size: 17px;
                font-weight: 500;
                padding: 0.6rem 1.4rem;
                border: none;
                transition: filter .2s ease-in-out;
                &:hover{
                    filter: brightness(85%);
                    cursor:pointer;
                }
                &.view{
                    //point color 변경 예정
                    background-color: #FACD35;
                }
            }}
        }
        .slide-area{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        button{
            cursor: pointer;
        }
        .btn{
            background: none;
            border: none;
            color: grey;
            cursor: pointer;
            font-size: 40px;
            font-weight: 500;
            transition: color .2s ease-in-out;
            opacity: 0;
            &:hover{
                color: white;
            }
        }
        div{
            display: flex;
            gap: 0.5rem;
            button{
                background-color: white;
                border: none;
                width: 12px;
                height: 11px;
                border-radius: 50%;
                &.active{
                    background-color: #FACD35;
                }
            }
        }
        }
        
    }
    
}

//media query
@media(max-width:1200px){
    .handleBtn{
        display: none;
    }
    .btn{
        opacity: 1 !important;
    }
}

@media(max-width:786px){
    .carousel{
       padding:0 3rem;
        div{
           padding: 0 auto;
           h3{
            font-size: 2.3rem;
           }
           .sm{
            font-size: 0.8rem;
           }
           p{
            font-size: 1.1rem;
           }
            img{
                width: 100%;
                height: 300px;
            }
            .btn-area{
                span{
                    font-size: 13px;
                }
                button{
                    min-width: 75px;
                }
            }
        }
    }
}