.intro{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .animation{
        z-index: 2;
        .circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                img {
                    max-width: 55rem;
        
                }
            }
        
            .text {
                font-size: 4rem;
                z-index: 1;
                text-align: center;
                mix-blend-mode: difference;
            }
    }
    
}