.intro{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .animation{
        z-index: 2;
        .circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                img {
                    max-width: 55rem;
                }
            }
        
            .text {
                font-size: 4rem; 
                z-index: 1;
                text-align: center;
                mix-blend-mode: difference;
                .text1 {
                        top: 45%;
                        left: -100%;
                        transition: transform 0.5s ease;
                    }
                
                    .text2 {
                        bottom: 45%;
                        right: -100%;
                        transition: transform 0.5s ease;
                    }
            }

    }
    @media (max-width:1200px){
        .circle{
            img{
                width: 45rem;
            }
        }
        .text{
            font-size: 3rem !important;
        }
    }
        @media (max-width:900px) {
            .circle {
                img {
                    width: 35rem;
                }
            }
    
            .text {
                font-size: 2.6rem !important;
            }
        }
        @media (max-width:768px) {
            .circle {
                img {
                    width: 28rem;
                }
            }
        
            .text {
                font-size: 2rem !important;
                }
        }
        @media (max-width:500px) {
            .circle {
                img {
                    width: 20rem;
                }
            }
        
            .text {
                font-size: 1.2rem !important;
            }
    }
}