.bg-dote{
    min-height: 100vh;
    height: 100%;
    background-image: radial-gradient(grey 1px, transparent 0);
    background-size: 60px 60px;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    .tag{
        background-color: #1B1D20;
        margin-top: 5rem;
        margin-bottom: 1rem;
        border: 3px solid grey;
        padding: 0.5rem 3rem;
        border-radius: 30px;
        width: 100px;
        text-align:center;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
        font-size: 17px;
        font-weight: 500;
    }
    
    ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        margin: 3rem 0;
        padding: 0;
        height: 100%;

        li{
            background-color: black;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;
            padding: 1.5rem;
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
            border-radius: 3px;
            &:hover{
                transform:scale(1.03);
            }

            img{
                width:55px;
                height: 55px;
                cursor: pointer;
            }

            div{
                display: none;
                opacity: 0;
                overflow: hidden;
                padding: 0;

                h3,p{
                    margin: 0;
                    max-width: 300px;
                }
                
                &.active{
                    display: block;
                    opacity: 1;
                    animation-name: fadeIn;
                    animation-fill-mode: forwards;
                    animation-duration: 1s;
                } 
            } 
        } 
        //Media queries
        @media(max-width:1200px){
            .bg-dote{
                height: 100%;
            }
            li{
                flex: 0 1 calc(50% - 3.5rem);
                height: 115px;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                padding:0;
                img{
                    width: 50px;
                    height: 50px;
                }
                div{
                    display: block;
                    opacity: 1;
                    &.active{
                        animation-name: none;
                        opacity: 1;
                    }
                }
            }
        }
        @media(max-width:878px){
            li{
                flex: 0 1 calc(100% - 7rem);
                height: 100px;
                margin-bottom: 0.5rem;
                &:hover{
                    transform: none;
                }
                div{
                    border-left: 1px solid grey;
                    padding-left: 1rem;
                }
                p{
                    max-width: 430px;
                    font-size: 14px;
                }
            }
        }
    } 
}

//keyframes
@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}